<section class="aside-module grid__item one-whole lap-one-half">
  {% include edit_github.html %}

  <div class='section'>
    <h1 class="title delta">시작하기</h1>
    <ul class='divided sidebar-menu'>
      <li>{% active_link /getting-started/ 설치 %}
        <li>{% active_link /getting-started/onboarding/ 첫시작 %}</li>
        <li>{% active_link /getting-started/automation/ 자동화 %}</li>
        <li>{% active_link /getting-started/presence-detection/ 출현 감지 %}</li>
        <li>{% active_link /getting-started/join-the-community/ 커뮤니티 참여 %}</li>
        <li>{% active_link /getting-started/configuration/ 고급 설정 %}</li>
    </ul>
  </div>
</section>
