<section class="aside-module grid__item one-whole lap-one-half">
  <div class='section'>
    <h1 class="title delta">목차</h1>
    <ul class='divided sidebar-menu'>
      <li>
        {% active_link /hassio/ Hass.io %}
        <ul>
          <li>{% active_link /hassio/installation/ 설치 %}</li>
          <li>{% active_link /addons/ 애드온 %}</li>
          <li>{% active_link /hassio/installing_third_party_addons/ 서드파티 애드온 %}</li>
        </ul>
      </li>
    </ul>
    <ul class='divided sidebar-menu'>
      <li>
        Advanced
        <ul>
          <li>{% active_link /hassio/commandline/ 명령어모드 %}</li>
          <li>{% active_link /hassio/zwave/ Z-Wave %}</li>
          <li>{% active_link /hassio/enable_i2c/ Enable I2C %}</li>
        </ul>
      </li>
    </ul>
    <ul class='divided sidebar-menu'>
      <li><a href='/developers/hassio/addon_development/'>애드온을 제작해 보실 건가요?</a></li>
    </ul>
  </div>
</section>
