<!doctype html>
  <!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>템플릿 - 홈어시스턴트</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions on how to integrate Template Sensors into Home Assistant.">
    
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://hakorea.github.io/integrations/template/">

    <meta property="fb:app_id" content="">
    <meta property="og:title" content="템플릿">
    <meta property="og:site_name" content="홈어시스턴트">
    <meta property="og:url" content="https://hakorea.github.io/integrations/template/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions on how to integrate Template Sensors into Home Assistant.">
    <meta property="og:image" content="https://hakorea.github.io/images/default-social.png">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@">
    
    <meta name="twitter:title" content="템플릿">
    <meta name="twitter:description" content="Instructions on how to integrate Template Sensors into Home Assistant.">
    <meta name="twitter:image" content="https://hakorea.github.io/images/default-social.png">

    <link href="/stylesheets/prism.css?8acb84bc0387c9548a63998fcfea0139" rel="stylesheet">
    <link href="/stylesheets/screen.css?0a23d70030bf362ca935e76ccc50922c" media="screen, projection, print" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="홈어시스턴트" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>

  <body >

    <header class='site-header'>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
      <a href="/" class="site-title">
        <img src="/images/home-assistant-logo.png" width="36" height="36" alt="Home Assistant">
        <span>홈어시스턴트</span>
      </a>
    </div>

    <div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
      <nav>
        <input type="checkbox" id="toggle">
        <label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
        <ul class="menu pull-right">
            
            <li><a href="/getting-started/">시작하기</a></li>
            <li><a href="/integrations/">통합구성요소</a></li>
            <li><a href="/docs/">문서</a></li>
            <li><a href="/cookbook/">예제</a></li>
            <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
            <li>KOREAN(not official)</li>
        </ul>
      </nav>

      <div class='search-container' style='display: none'>
        <div class='search'>
          <i class="icon-search"></i>
          <input id='search' placeholder='Search the docs…'>
          <a href='#' class='close'><i class="icon-remove-sign"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

    </header>

    

    <div class="grid-wrapper">
      <div class="grid grid-center">
        
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
        

          
            <article class="page">
  
  
    

<div class="edit-github"><a href="https://github.com/hakorea/gitpages_source/blob/master/source/_integrations/template.markdown" rel="external nofollow">깃허브 편집</a></div>


  

  
  <header>
    <h1 class="title indent">
      템플릿
    </h1>
  </header>
  <hr class="divider">
  

  <p>템플릿<code>template</code> 플랫폼은 엔티티들이 가진 값들을 별도의 센서로 만들 수 있는 방법이다</p>
<h2>
<a class="title-link" name="configuration" href="#configuration"></a> Configuration</h2>
<p>템플릿 센서를 설정하는 방법은 무엇을 만들고 싶은지가 중요하다. <code>configuration.yaml</code>에 다음과 같이 sun 엔티티가 갖는 값을 이용하여 태양의 고도(지평선과의 각도)와 내일 해뜨는 시간을 표시하는 두가지 센서를 추가한다고 가정하면:</p>
<pre><code class="language-yaml"># Example configuration.yaml entry
sensor:
  - platform: template
    sensors:
      solar_angle:
        friendly_name: "Sun angle"
        unit_of_measurement: 'degrees'
        value_template: "{{ state_attr('sun.sun', 'elevation') }}"

      sunrise:
        value_template: "{{ state_attr('sun.sun', 'next_rising') }}"
</code></pre>
<div class="config-vars">
  <h3>
<a class="title-link" name="configuration-variables" href="#configuration-variables"></a> Configuration Variables</h3>
  <dl class="">
<dt>
<a class="title-link" name="sensors" href="#sensors"></a> sensors</dt>
<dd><p class="desc"><span class="type">(<span class="map">map</span>)</span><span class="required">(Required)</span><span class="description"><p>만들고자 하는 센서 리스트</p>
</span></p></dd>
<dd><dl class="nested">
<dt>
<a class="title-link" name="friendly_name" href="#friendly_name"></a> friendly_name</dt>
<dd><p class="desc"><span class="type">(<span class="string">string</span>)</span><span class="required">(Optional)</span><span class="description"><p>화면에 표시할 센서 가명</p>
</span></p></dd>
<dt>
<a class="title-link" name="friendly_name_template" href="#friendly_name_template"></a> friendly_name_template</dt>
<dd><p class="desc"><span class="type">(<span class="template"><a href="/docs/configuration/templating/">template</a></span>)</span><span class="required">(Optional)</span><span class="description"><p>상태 변화에 따라 화면에 표시할 센서 가명을 바꿀 때 사용(friendly_name을 덮어씀)</p>
</span></p></dd>
<dt>
<a class="title-link" name="entity_id" href="#entity_id"></a> entity_id</dt>
<dd><p class="desc"><span class="type">(<span class="string list">string | list</span>)</span><span class="required">(Optional)</span><span class="description"><p>엔티티 ID 리스트. 제작한 템플릿 센서는 이들 엔티티의 변화에 따라 값이 바뀐다. 다수의 관련된 엔티티들 서로 연결되어 센서로 표현해야 한다면 이 옵션을 적용하세요.</p>
</span></p></dd>
<dt>
<a class="title-link" name="unit_of_measurement" href="#unit_of_measurement"></a> unit_of_measurement</dt>
<dd>
<p class="desc"><span class="type">(<span class="string">string</span>)</span><span class="required">(Optional)</span><span class="description"><p>센서의 측정 단위. 이것은 히스토리 그래프 표현에 영향을 줍니다. <code>unit_of_measurement</code>를 설정하지 않으면 불연속적인 막대 그래프로 나타납니다.</p>
</span></p>
<p class="default">
Default value: </p>
<p>None</p>
</dd>
<dt>
<a class="title-link" name="value_template" href="#value_template"></a> value_template</dt>
<dd><p class="desc"><span class="type">(<span class="template"><a href="/docs/configuration/templating/">template</a></span>)</span><span class="required">(Required)</span><span class="description"><p>센서로 사용할 값을 엔티티로부터 받아오는 방법을 설정하는 밸류템플릿</p>
</span></p></dd>
<dt>
<a class="title-link" name="icon_template" href="#icon_template"></a> icon_template</dt>
<dd><p class="desc"><span class="type">(<span class="template"><a href="/docs/configuration/templating/">template</a></span>)</span><span class="required">(Optional)</span><span class="description"><p>센서에 대한 아이콘을 설정하는 템플릿</p>
</span></p></dd>
<dt>
<a class="title-link" name="entity_picture_template" href="#entity_picture_template"></a> entity_picture_template</dt>
<dd><p class="desc"><span class="type">(<span class="template"><a href="/docs/configuration/templating/">template</a></span>)</span><span class="required">(Optional)</span><span class="description"><p>센서의 엔티티 이미지를 설정하는 템플</p>
</span></p></dd>
<dt>
<a class="title-link" name="attribute_templates" href="#attribute_templates"></a> attribute_templates</dt>
<dd><p class="desc"><span class="type">(<span class="map">map</span>)</span><span class="required">(Optional)</span><span class="description"><p>센서의 속성을 정의하는 템플</p>
</span></p></dd>
<dd><dl class="nested">
<dt>
<a class="title-link" name="attribute-template" href="#attribute-template"></a> attribute: template</dt>
<dd><p class="desc"><span class="type">(<span class="template"><a href="/docs/configuration/templating/">template</a></span>)</span><span class="required">(Required)</span><span class="description"><p>속성에 해당하는 템플릿을 작성</p>
</span></p></dd>
</dl></dd>
<dt>
<a class="title-link" name="availability_template" href="#availability_template"></a> availability_template</dt>
<dd>
<p class="desc"><span class="type">(<span class="template"><a href="/docs/configuration/templating/">template</a></span>)</span><span class="required">(Optional)</span><span class="description"><p>컴포넌트의 <code>available</code> 상태를 받아오는 템플릿을 정의. 템플릿이 <code>true</code>를 반환하면 기기는 <code>available</code> 상태이고 다른 값을 반환하면 <code>unavailable</code> 상태로 템플릿을 작성해야 함. <code>availability_template</code>을 작성하지 않으면 컴포넌트의 <code>available</code> 상태는 항상 ‘true’입니다.</p>
</span></p>
<p class="default">
Default value: </p>
<p>true</p>
</dd>
<dt>
<a class="title-link" name="device_class" href="#device_class"></a> device_class</dt>
<dd>
<p class="desc"><span class="type">(<span class="device_class"><a href="/docs/configuration/customizing-devices/#device-class">device_class</a></span>)</span><span class="required">(Optional)</span><span class="description"><p>기기의 클래스를 설정. UI에 나타나는 기기의 상태와 아이콘이 바뀝니다(하단 참고). <code>unit_of_measurement</code>를 변경하진 않습니다.</p>
</span></p>
<p class="default">
Default value: </p>
<p>None</p>
</dd>
</dl></dd>
</dl>
</div>
<h2>
<a class="title-link" name="" href="#"></a> 고려사항</h2>
<h3>
<a class="title-link" name="" href="#"></a> 부팅시</h3>
<p>플랫폼의 상태를 체크하는 센서를 사용한다면 부팅시 플랫폼을 로드하는 과정에서 일정 시간이 소요되며 이 과정에서 템플릿 센서는 <code>unknown</code> 상태가 됩니다. 이것을 피하려면(로그 파일에 에러를 남기지 않으려면) <code>is_state()</code> 함수를 템플릿에 적용하면 됩니다. 예를 들어 <code>{{ states.cover.source.state == 'open' }}</code> 구문은 <code>unknown</code> 상태를 나타내기도 하는데 아래 템플릿으로 바꿔 적용하면 <code>true</code>/<code>false</code> 상태만을 잘 표현합니다:</p>
<p><code>{{ is_state('switch.source', 'on') }}</code></p>
<h3>
<a class="title-link" name="-id" href="#-id"></a> 엔티티 ID</h3>
<p>템플릿 엔진은 어떤 엔티티들을 사용하여 센서를 업데이트 할 것인가를 늘 시도합니다. 템플릿이 트리거를 받지 못하는 상황이 생겨 센서의 업데이트가 실패할 수도 있습니다. 이 경우 <code>entity_id</code>를 작성해서 엔티티들의 ID 리스트를 입력하면 센서를 업데이트 하도록 만들 수 있습니다. 또는 <code>homeassistant.update_entity</code> 서비스를 호출하게 센서를 강제 업데이트 해줍니다.</p>
<h2>
<a class="title-link" name="" href="#"></a> 사용예</h2>
<p>아래 섹션에서 실제 적용 사례들을 살펴보겠습니다.</p>
<h3>
<a class="title-link" name="-" href="#-"></a> 태양의 고도</h3>
<p>화면에 태양의 고도를 표시합니다.</p>
<pre><code class="language-yaml">sensor:
  - platform: template
    sensors:
      solar_angle:
        friendly_name: "Sun Angle"
        unit_of_measurement: '°'
        value_template: "{{ '%+.1f'|format(state_attr('sun.sun', 'elevation')) }}"
</code></pre>
<h3>
<a class="title-link" name="--" href="#--"></a> 센서 표시를 변경하기</h3>
<p>어떤 센서의 화면 표기가 마음에 들지 않는다면 템플릿 센서를 활용하여 변경할 수 있습니다. <a href="/integrations/sun/">Sun component</a>의 출력을 간단한 표기방법으로 변경해봅시다:</p>
<pre><code class="language-yaml">sensor:
  - platform: template
    sensors:
      sun_state:
        friendly_name: "Sun State"
        value_template: &gt;-
          {% if is_state('sun.sun', 'above_horizon') %}
            up
          {% else %}
            down
          {% endif %}
</code></pre>
<h3>
<a class="title-link" name="if---" href="#if---"></a> if 구문을 여러번 사용하기</h3>
<p>비교구문 <code>if</code>를 여러번 사용하여 다양한 값을 체크하는 예제입니다. 스위치의 상태를 체크하여 화면에 <code>on</code>/<code>off</code> 또는 <code>standby</code> 등을 표시합니다:</p>
<pre><code class="language-yaml">sensor:
  - platform: template
    sensors:
      kettle:
        friendly_name: "Kettle"
        value_template: &gt;-
          {% if is_state('switch.kettle', 'off') %}
            off
          {% elif state_attr('switch.kettle', 'kwh')|float &lt; 1000 %}
            standby
          {% elif is_state('switch.kettle', 'on') %}
            on
          {% else %}
            failed
          {% endif %}
</code></pre>
<h3>
<a class="title-link" name="--" href="#--"></a> 측정 단위를 변경하기</h3>
<p>템플릿 센서를 사용하면 측정 단위를 이해하기 쉬운 다른 표현 방법으로 손쉽게 변경 가능합니다:</p>
<pre><code class="language-yaml">sensor:
  - platform: template
    sensors:
      transmission_down_speed_kbps:
        friendly_name: "Transmission Down Speed"
        unit_of_measurement: 'kB/s'
        value_template: "{{ states('sensor.transmission_down_speed')|float * 1024 }}"

      transmission_up_speed_kbps:
        friendly_name: "Transmission Up Speed"
        unit_of_measurement: 'kB/s'
        value_template: "{{ states('sensor.transmission_up_speed')|float * 1024 }}"
</code></pre>
<h3>
<a class="title-link" name="-" href="#-"></a> 아이콘 변경</h3>
<p>다음 예제는 낮/밤에 따라 아이콘을 바꾸는 <code>icon_template</code> 사용법입니다:</p>
<pre><code class="language-yaml">sensor:
  - platform: template
    sensors:
      day_night:
        friendly_name: "Day/Night"
        value_template: &gt;-
          {% if is_state('sun.sun', 'above_horizon') %}
            Day
          {% else %}
            Night
          {% endif %}
        icon_template: &gt;-
          {% if is_state('sun.sun', 'above_horizon') %}
            mdi:weather-sunny
          {% else %}
            mdi:weather-night
          {% endif %}
</code></pre>
<h3>
<a class="title-link" name="--" href="#--"></a> 엔티티 이미지 변경</h3>
<p>다음 예제는 낮/밤에 따라 <code>entity_picture_template</code>을 사용하여 이미지를 변경하는 방법입니다:</p>
<pre><code class="language-yaml">sensor:
  - platform: template
    sensors:
      day_night:
        friendly_name: "Day/Night"
        value_template: &gt;-
          {% if is_state('sun.sun', 'above_horizon') %}
            Day
          {% else %}
            Night
          {% endif %}
        entity_picture_template: &gt;-
          {% if is_state('sun.sun', 'above_horizon') %}
            /local/daytime.png
          {% else %}
            /local/nighttime.png
          {% endif %}
</code></pre>
<h3>
<a class="title-link" name="change-the-friendly-name-used-in-the-frontend" href="#change-the-friendly-name-used-in-the-frontend"></a> Change the Friendly Name Used in the Frontend</h3>
<p>다음 예제는 센서의 상태에 따라서 <code>friendly_name_template</code>을 사용해 화면에 표시되는 <code>friendly_name</code>을 변경하는 방법입니다.</p>
<pre><code class="language-yaml">sensor:
  - platform: template
    sensors:
      net_power:
        friendly_name_template: &gt;-
          {% if states('sensor.power_consumption')|float &lt; 0 %}
            Power Consumption
          {% else %}
            Power Production
          {% endif %}
        value_template: "{{ states('sensor.power_consumption') }}"
        unit_of_measurement: 'kW'
</code></pre>
<h3>
<a class="title-link" name="--" href="#--"></a> 커스텀 속성을 추가하기</h3>
<p>다음 예제는 커스텀 속성을 추가하는 방법입니다:</p>
<pre><code class="language-yaml">sensor:
  - platform: template
    sensors:
      my_device:
        value_template: &gt;-
          {% if is_state('device_tracker.my_device_nmap','home') %}
            Home
          {% else %}
            {{ states('device_tracker.my_device_gps') }}
          {% endif %}
        attribute_templates:
          latitude: &gt;-
            {% if is_state('device_tracker.my_device_nmap','home') %}
              {{ state_attr('zone.home','latitude') }}
            {% else %}
              state_attr('device_tracker.my_device_gps','latitude')
            {% endif %}
          longitude: &gt;-
            {% if is_state('device_tracker.my_device_nmap','home') %}
              {{ state_attr('zone.home','longitude') }}
            {% else %}
              {{ state_attr('device_tracker.my_device_gps','longitude') }}
            {% endif %}
</code></pre>
<h3>
<a class="title-link" name="----" href="#----"></a> 엔티티 없는 템플릿 센서 제작</h3>
<p>템플릿 센서는 다른 엔티티의 속성으로 제작해야만 하는 것은 아니며 <a href="/docs/configuration/templating/#home-assistant-template-extensions">홈어시스턴트 템플릿 확장</a> 기능을 사용할 수도 있습니다.</p>
<p>이런 템플릿은 트리거를 발생시킬 엔티티가 없어서(<code>now()</code> 함수처럼) 업데이트가 원활하게 이뤄지지 않습니다. 따라서 <code>entity_id:</code>를 추가하여 강제로 업데이트가 이뤄지도록 만들어야 합니다. 다음 예제는 <a href="/integrations/time_date">date sensor</a>를 엔티티로 추가해서 하루마다 업데이트를 진행합니다:</p>
<pre><code class="language-yaml">sensor:
  - platform: template
    sensors:
      nonsmoker:
        value_template: "{{ (( as_timestamp(now()) - as_timestamp(strptime('06.07.2018', '%d.%m.%Y')) ) / 86400 ) | round(2) }}"
        entity_id: sensor.date
        friendly_name: 'Not smoking'
        unit_of_measurement: "Days"
</code></pre>
<p>하지만 위 예제는 엔티티 없는 구문으로 다음과 같이 변경할 수도 있습니다:</p>
<pre><code class="language-yaml">sensor:
  - platform: template
    sensors:
      nonsmoker:
        value_template: "{{ (( as_timestamp(strptime(states('sensor.date'), '%Y-%m-%d')) - as_timestamp(strptime('06.07.2018', '%d.%m.%Y')) ) / 86400 ) | round(2) }}"
        friendly_name: 'Not smoking'
        unit_of_measurement: "Days"
</code></pre>
<p>하루마다 동작시키려면 <code>sensor.date</code> 엔티티를 사용하고, 매 분마다 동작시키려면 <code>sensor.time</code> 엔티티를 사용하면 유용합니다. 템플릿은 홈어시스턴트의 state engine이 템플릿의 동작을 체크하고 변화가 있을 때마다 센서의 상태를 바꿉니다. 그러므로 <code>sensor.time</code>은 매 분마다 상태 체크를 하므로 성능에 영향을 줄 수 있어 사용에 주의해야 합니다.</p>
<p>대체 방안으로 자동화를 사용한 인터벌 설정이 가능한데, 엔티티 업데이트가 필요할 때마다 <code>homeassistant.update_entity</code>를 호출하면 됩니다. 매 분마다 실행하는 것을 5분마다 실행하는 자동화를 적용하면 다음과 같습니다:</p>
<pre><code class="language-yaml">sensor:
  - platform: template
    sensors:
      nonsmoker:
        value_template: "{{ (( as_timestamp(now()) - as_timestamp(strptime('06.07.2018', '%d.%m.%Y')) ) / 86400 ) | round(2) }}"
        entity_id: []
        friendly_name: 'Not smoking'
        unit_of_measurement: "Days"

automation:
  - alias: 'nonsmoker_update'
    trigger:
      - platform: time_pattern
        minutes: '/5'
    action:
      - service: homeassistant.update_entity
        entity_id: sensor.nonsmoker
</code></pre>


</article>

          
        </div>

        
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
  
  
    <section class="aside-module grid__item one-whole lap-one-half">

<div class='edit-github'><a href='https://github.com/hakorea/gitpages_source/blob/master/source/_integrations/template.markdown'>깃허브 편집</a></div>

<div class='brand-logo-container section'><img src='/images/supported_brands/home-assistant.png' /></div><div class="section">
    <kb-alert-link integration="template"></kb-alert-link>
  </div><div class='section'>
      IoT class<sup><a href='/blog/2016/02/12/classifying-the-internet-of-things/#classifiers'><i class="icon-info-sign"></i></a></sup>: Local Push
    </div><div class='section'>
      Quality Scale: <a href='/docs/quality_scale/'>🏠 (internal)</a>
    </div><div class='section'>
      Introduced in release: 0.12
    </div><div class='section'>
    Source: <a href='https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/template/'>/components/template/</a>
  </div><div class='section'>
    <h1 class="title delta">카테고리</h1>
    <ul class='divided'><li>
        <a href='/integrations/#sensor'>Sensor</a>
      </li></ul>
    </div></section>

<script src="https://alerts.home-assistant.io/ce-alert-link.js"></script>

  
</div>

        </aside>
        
      </div>
    </div>

    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright grid">
        <div class='company grid__item one-third lap-one-half palm-one-whole'>
          <div class="title">
            <img src="/images/home-assistant-logo.png" width="36" height="36" alt="Home Assistant"> 홈어시스턴트
          </div>
        </div>

        <div class='grid__item one-third lap-one-half palm-one-whole'>
          <ul>
            <li><a href='https://alerts.home-assistant.io'>Home Assistant Alerts</a></li>
            <li><a href='https://cafe.naver.com/koreassistant'>HA 네이버 카페</a></li>
          </ul>
        </div>

        <div class='grid__item one-third lap-one-half palm-one-whole'>
          이 웹사이트는 <a href='https://jekyllrb.com/'>Jekyll</a>과
          <a href='https://github.com/coogie/oscailte'>Oscalite 테마</a>를 사용합니다.
        </div>
      </div>
    </div>
  </div>
</div>

    </footer>

    <script>
var _gaq=[['_setAccount',''],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<script src="/javascripts/prism.js?5d6619066a1fc5cd819a93c132b539ac" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'c762b5632da4220f398f985614f3a1e3',
  indexName: 'hakorea',
  inputSelector: '#search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
document.querySelector('.search .close').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'none';
});
document.querySelector('.show-search').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'block';
  document.getElementById('toggle').checked = false;
  document.querySelector('.search-container input').focus();
});
</script>

  </body>
</html>
