<!doctype html>
  <!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>리모컨으로 조명을 어둡게 혹은 밝게 - 홈어시스턴트</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="The scripts and automations to allow you to use a remote to dim and brighten a light">
    
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://hakorea.github.io/cookbook/dim_and_brighten_lights/">

    <meta property="fb:app_id" content="">
    <meta property="og:title" content="리모컨으로 조명을 어둡게 혹은 밝게">
    <meta property="og:site_name" content="홈어시스턴트">
    <meta property="og:url" content="https://hakorea.github.io/cookbook/dim_and_brighten_lights/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="The scripts and automations to allow you to use a remote to dim and brighten a light">
    <meta property="og:image" content="https://hakorea.github.io/images/default-social.png">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@">
    
    <meta name="twitter:title" content="리모컨으로 조명을 어둡게 혹은 밝게">
    <meta name="twitter:description" content="The scripts and automations to allow you to use a remote to dim and brighten a light">
    <meta name="twitter:image" content="https://hakorea.github.io/images/default-social.png">

    <link href="/stylesheets/prism.css?8acb84bc0387c9548a63998fcfea0139" rel="stylesheet">
    <link href="/stylesheets/screen.css?0a23d70030bf362ca935e76ccc50922c" media="screen, projection, print" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="홈어시스턴트" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>

  <body >

    <header class='site-header'>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
      <a href="/" class="site-title">
        <img src="/images/home-assistant-logo.png" width="36" height="36" alt="Home Assistant">
        <span>홈어시스턴트</span>
      </a>
    </div>

    <div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
      <nav>
        <input type="checkbox" id="toggle">
        <label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
        <ul class="menu pull-right">
            
            <li><a href="/getting-started/">시작하기</a></li>
            <li><a href="/integrations/">통합구성요소</a></li>
            <li><a href="/docs/">문서</a></li>
            <li><a href="/cookbook/">예제</a></li>
            <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
            <li>KOREAN(not official)</li>
        </ul>
      </nav>

      <div class='search-container' style='display: none'>
        <div class='search'>
          <i class="icon-search"></i>
          <input id='search' placeholder='Search the docs…'>
          <a href='#' class='close'><i class="icon-remove-sign"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

    </header>

    

    <div class="grid-wrapper">
      <div class="grid grid-center">
        
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
        

          
            <article class="page">
  
  

  
  <header>
    <h1 class="title indent">
      리모컨으로 조명을 어둡게 혹은 밝게
    </h1>
  </header>
  <hr class="divider">
  

  <p>여기에는 빛조절이 가능한 조명의 버튼을 누를 때 씬(scene)을 보내거나 놓을 때 다른 장면을 보내는 Z-Wave 리모컨이 필요합니다. 이렇게하면 스크립트(다음에 나오는)가 중지되어 종료되지 않는 스크립트의 위험을 피할 수 있습니다.</p>
<p>다음 자동화에서 <code>zwave.YOUR_REMOTE</code>를 컨트롤러의 실제 자신의 엔티티 ID로 바꾸십시오. 컨트롤러의 경우 업 버튼을 눌렀을 때 scene ID 13이 전송, 놓으면 15입니다. 마찬가지로, 다운 버튼을 눌렀을 때 scene 14, 놓을때 16. 리모컨에서 전송된 scene ID가 다른 경우도 사용할 수 있습니다.</p>
<pre><code class="language-yaml">automation: 

  - alias: 'Make the lights go bright'
    initial_state: 'on'
    trigger:
      - platform: event
        event_type: zwave.scene_activated
        event_data:
          scene_id: 13
          entity_id: zwave.YOUR_REMOTE
    action:
      - service: script.turn_on
        data:
          entity_id: script.light_bright

  - alias: 'Stop the bright just there'
    initial_state: 'on'
    trigger:
      - platform: event
        event_type: zwave.scene_activated
        event_data:
          scene_id: 15
          entity_id: zwave.YOUR_REMOTE
    action:
      - service: script.turn_off
        data:
          entity_id: script.light_bright
      - service: script.turn_off
        data:
          entity_id: script.light_bright_pause

  - alias: 'Make the lights go dim'
    initial_state: 'on'
    trigger:
      - platform: event
        event_type: zwave.scene_activated
        event_data:
          scene_id: 14
          entity_id: zwave.YOUR_REMOTE
    action:
      - service: script.turn_on
        data:
          entity_id: script.light_dim

  - alias: 'Stop the dim just there'
    initial_state: 'on'
    trigger:
      - platform: event
        event_type: zwave.scene_activated
        event_data:
          scene_id: 16
          entity_id: zwave.YOUR_REMOTE
    action:
      - service: script.turn_off
        data:
          entity_id: script.light_dim
      - service: script.turn_off
        data:
          entity_id: script.light_dim_pause
</code></pre>
<p>아래 스크립트의 변경속도를 제어하는 ​​두 가지 변수가 있습니다. 첫 번째는 <code>step</code>이며 작은 step들은 부드러운 전환을 만듭니다. 두 번째는 지연이며 지연이 클수록 전환 속도가 느려집니다.</p>
<p>유연성을 허용하기 위해 step에 <a href="/integrations/input_number/">Input Number</a>가 사용됩니다 (이를 작성할 때 지연이 밀리초를 사용하는 경우 지연을 템플릿화 할 수 없음). 최소와 최대 밝기를 설정하는데 두 개의 추가 <a href="/integrations/input_number/">Input Numbers</a>가 사용되므로 이를 쉽게 조정(또는 자동화를 통해 관리)할 수 있습니다.</p>
<pre><code class="language-yaml">input_number:
  light_step:
    name: 'Step the lights this much'
    initial: 20
    min: 1
    max: 64
    step: 1

  light_minimum:
    name: 'No dimmer than this'
    initial: 5
    min: 1
    max: 255
    step: 1
    
  light_maximum:
    name: 'No brighter than this'
    initial: 255
    min: 50
    max: 255
    step: 1
</code></pre>
<p>이제 스크립트입니다. 두 쌍의 스크립트가 있습니다. 첫 번째 단계는 빛을 최대로 밝게하고 두 번째 단계는 지연을 제공합니다. 둘 다 중지될 때까지 서로 호출합니다. 두 번째 쌍인 디밍에서도 동일하게 적용됩니다.</p>
<pre><code class="language-yaml"># Replace YOURLIGHT with the actual light entity
script:
    light_bright:
      sequence:
        - service: light.turn_on
          data_template:
            entity_id: light.YOUR_LIGHT
            brightness: &gt;-
              {% set current = state_attr('light.YOUR_LIGHT', 'brightness')|default(0)|int %}
              {% set step = states('input_number.light_step')|int %}
              {% set next = current + step %}
              {% if next &gt; states('input_number.light_maximum')|int %}
                {% set next = states('input_number.light_maximum')|int %}
              {% endif %}
              {{ next }}

        - service_template: &gt;
            {% if state_attr('light.YOUR_LIGHT', 'brightness')|default(0)|int &lt; states('input_number.light_maximum')|int %}
              script.turn_on
            {% else %}
              script.turn_off
            {% endif %}
          data:
            entity_id: script.light_bright_pause
        
    light_bright_pause:
      sequence:
        - delay:
            milliseconds: 1
        - service: script.turn_on
          data:
            entity_id: script.light_bright

    light_dim:
      sequence:
        - service: light.turn_on
          data_template:
            entity_id: light.YOUR_LIGHT
            brightness: &gt;-
              {% set current = state_attr('light.YOUR_LIGHT', 'brightness')|default(0)|int %}
              {% set step = states('input_number.light_step')|int %}
              {% set next = current - step %}
              {% if next &lt; states('input_number.light_minimum')|int %}
                {% set next = states('input_number.light_minimum')|int %}
              {% endif %}
              {{ next }}

        - service_template: &gt;
            {% if state_attr('light.YOUR_LIGHT', 'brightness')|default(0)|int &gt; states('input_number.light_minimum')|int %}
              script.turn_on
            {% else %}
              script.turn_off
            {% endif %}
          data:
            entity_id: script.light_dim_pause
        
    light_dim_pause:
      sequence:
        - delay:
            milliseconds: 1
        - service: script.turn_on
          data:
            entity_id: script.light_dim
</code></pre>


</article>

          
        </div>

        
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
  
  
    <section class="aside-module grid__item one-whole lap-one-half">
  

<div class='edit-github'><a href='https://github.com/hakorea/gitpages_source/blob/master/source/_cookbook/dim_and_brighten_lights.markdown'>깃허브 편집</a></div>


  

  <div class='section'>
    <a href='/cookbook'>쿡북</a>
  </div>

  <div class='section'>
    <h1 class="title delta">Automation Examples</h1>
    <ul class='divided'>
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
          <li>
            
              <a href='/cookbook/automation_enocean_phue/'>enocean 스위치로 Philips Hue 제어</a>
            
          </li>
        
      
        
      
        
      
        
          <li>
            
              <a href='/cookbook/perform_actions_based_on_input_select/'>input_select로 작업 실행시키기</a>
            
          </li>
        
      
        
      
        
      
        
      
        
          <li>
            
              <a href='/cookbook/notify_if__new_ha_release/'>Send notification if new Home Assistant release</a>
            
          </li>
        
      
        
          <li>
            
              <a href='/cookbook/sonos_say/'>Sonos로 script를 사용하여 text-to-speech로 말하게하기</a>
            
          </li>
        
      
        
          <li>
            
              <a href='/cookbook/restart_ha_if_wemo_switch_is_not_detected/'>Wemo Switch가 감지 안되면 홈어시스턴트 재시작.</a>
            
          </li>
        
      
        
          <li>
            
              <a href='/cookbook/automation_flashing_lights/'>깜빡이는 조명의 예시</a>
            
          </li>
        
      
        
          <li>
            
              리모컨으로 조명을 어둡게 혹은 밝게
            
          </li>
        
      
        
          <li>
            
              <a href='/cookbook/turn_on_light_for_10_minutes_when_motion_detected/'>모션 감지 후 10분 동안 조명 켜기</a>
            
          </li>
        
      
        
          <li>
            
              <a href='/cookbook/dim_lights_when_playing_media/'>미디어를 재생할 때 조명을 희미하게</a>
            
          </li>
        
      
        
          <li>
            
              <a href='/cookbook/automation_for_rainy_days/'>비오는 날 자동화</a>
            
          </li>
        
      
        
          <li>
            
              <a href='/cookbook/notify_if_over_threshold/'>센서를 기반으로 알림 보내기</a>
            
          </li>
        
      
        
          <li>
            
              <a href='/cookbook/automation_using_timeinterval_inputboolean/'>시간간격과 Input_boolean 사용</a>
            
          </li>
        
      
        
          <li>
            
              <a href='/cookbook/automation_first_light/'>아침시간에 맞춰 조명을 켜주는 예</a>
            
          </li>
        
      
        
          <li>
            
              <a href='/cookbook/send_a_reminder/'>알림 메시지 보내기</a>
            
          </li>
        
      
        
          <li>
            
              <a href='/cookbook/automation_telegram_presence_alert/'>재실 여부에 따라 알림을 보내는 예</a>
            
          </li>
        
      
        
          <li>
            
              <a href='/cookbook/foscam_away_mode_PTZ/'>집에 아무도 없을때 Foscam 카메라를 팬/틸트/줌 제어 그리고 모션감지로 사용</a>
            
          </li>
        
      
        
      
        
          <li>
            
              <a href='/cookbook/automation_sun/'>태양을 사용하는 예시</a>
            
          </li>
        
      
        
      
        
          <li>
            
              <a href='/cookbook/track_battery_level/'>휴대폰 밧데리 잔량 추적</a>
            
          </li>
        
      
    </ul>
  </div>
</section>

  
</div>

        </aside>
        
      </div>
    </div>

    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright grid">
        <div class='company grid__item one-third lap-one-half palm-one-whole'>
          <div class="title">
            <img src="/images/home-assistant-logo.png" width="36" height="36" alt="Home Assistant"> 홈어시스턴트
          </div>
        </div>

        <div class='grid__item one-third lap-one-half palm-one-whole'>
          <ul>
            <li><a href='https://alerts.home-assistant.io'>Home Assistant Alerts</a></li>
            <li><a href='https://cafe.naver.com/koreassistant'>HA 네이버 카페</a></li>
          </ul>
        </div>

        <div class='grid__item one-third lap-one-half palm-one-whole'>
          이 웹사이트는 <a href='https://jekyllrb.com/'>Jekyll</a>과
          <a href='https://github.com/coogie/oscailte'>Oscalite 테마</a>를 사용합니다.
        </div>
      </div>
    </div>
  </div>
</div>

    </footer>

    <script>
var _gaq=[['_setAccount',''],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<script src="/javascripts/prism.js?5d6619066a1fc5cd819a93c132b539ac" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'c762b5632da4220f398f985614f3a1e3',
  indexName: 'hakorea',
  inputSelector: '#search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
document.querySelector('.search .close').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'none';
});
document.querySelector('.show-search').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'block';
  document.getElementById('toggle').checked = false;
  document.querySelector('.search-container input').focus();
});
</script>

  </body>
</html>
