<!doctype html>
  <!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>무전원무선기술(EnOcean) - 홈어시스턴트</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Connect EnOcean devices to Home Assistant">
    
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://hakorea.github.io/integrations/enocean/">

    <meta property="fb:app_id" content="">
    <meta property="og:title" content="무전원무선기술(EnOcean)">
    <meta property="og:site_name" content="홈어시스턴트">
    <meta property="og:url" content="https://hakorea.github.io/integrations/enocean/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Connect EnOcean devices to Home Assistant">
    <meta property="og:image" content="https://hakorea.github.io/images/default-social.png">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@">
    
    <meta name="twitter:title" content="무전원무선기술(EnOcean)">
    <meta name="twitter:description" content="Connect EnOcean devices to Home Assistant">
    <meta name="twitter:image" content="https://hakorea.github.io/images/default-social.png">

    <link href="/stylesheets/prism.css?8acb84bc0387c9548a63998fcfea0139" rel="stylesheet">
    <link href="/stylesheets/screen.css?0a23d70030bf362ca935e76ccc50922c" media="screen, projection, print" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="홈어시스턴트" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>

  <body >

    <header class='site-header'>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
      <a href="/" class="site-title">
        <img src="/images/home-assistant-logo.png" width="36" height="36" alt="Home Assistant">
        <span>홈어시스턴트</span>
      </a>
    </div>

    <div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
      <nav>
        <input type="checkbox" id="toggle">
        <label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
        <ul class="menu pull-right">
            
            <li><a href="/getting-started/">시작하기</a></li>
            <li><a href="/integrations/">통합구성요소</a></li>
            <li><a href="/docs/">문서</a></li>
            <li><a href="/cookbook/">예제</a></li>
            <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
            <li>KOREAN(not official)</li>
        </ul>
      </nav>

      <div class='search-container' style='display: none'>
        <div class='search'>
          <i class="icon-search"></i>
          <input id='search' placeholder='Search the docs…'>
          <a href='#' class='close'><i class="icon-remove-sign"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

    </header>

    

    <div class="grid-wrapper">
      <div class="grid grid-center">
        
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
        

          
            <article class="page">
  
  
    

<div class="edit-github"><a href="https://github.com/hakorea/gitpages_source/blob/master/source/_integrations/enocean.markdown" rel="external nofollow">깃허브 편집</a></div>


  

  
  <header>
    <h1 class="title indent">
      무전원무선기술(EnOcean)
    </h1>
  </header>
  <hr class="divider">
  

  <div class="videoWrapper">
<iframe width="776" height="437" src="https://www.youtube.com/embed/O1skGq6ui6c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<p><a href="https://en.wikipedia.org/wiki/EnOcean" rel="external nofollow">EnOcean</a> 표준은 여러 공급 업체에서 지원합니다.
다양한 종류의 스위치와 센서가 있으며 일반적으로 energy harvesting을 사용하여 배터리가 필요하지 않은 전력을 얻습니다.</p>
<p><code>enocean</code> 통합구성요소는 이러한 장치 중 일부에 대한 지원을 추가합니다. 작동하려면 <a href="https://www.enocean.com/en/enocean_modules/usb-300-oem/" rel="external nofollow">USB300</a>과 같은 컨트롤러가 필요합니다.</p>
<p>현재 홈어시스턴트에서 다음 장치 유형이 지원됩니다.</p>
<ul>
<li>
<a href="#binary-sensor">Binary Sensor</a> - 벽 스위치</li>
<li>
<a href="#sensor">Sensor</a> - 파워 미터, 온도 센서, 습도 센서 및 창 핸들</li>
<li>
<a href="#light">Light</a> - 디머</li>
<li><a href="#switch">Switch</a></li>
</ul>
<p>그러나 광범위한 메시지 유형으로 인해 모든 장치가 코드 변경없이 작동하지는 않습니다. 다음 장치가 기본적으로 작동하는 것으로 확인되었습니다.</p>
<ul>
<li>Eltako FUD61 dimmer</li>
<li>Eltako FT55 battery-less wall switch</li>
<li>Jung ENOA590WW battery-less wall switch</li>
<li>Omnio WS-CH-102-L-rw battery-less wall switch</li>
<li>Permundo PSC234 (switch and power monitor)</li>
<li>EnOcean STM-330 temperature sensor</li>
<li>Hoppe SecuSignal window handle from Somfy</li>
</ul>
<p>여기에 나열되지 않은 장치를 소유한 경우 장치가 리스트된 <a href="https://www.enocean-alliance.org/what-is-enocean/specifications/" rel="external nofollow">EnOcean 장비 프로파일</a> 중 있는지 확인하십시오. 그렇다면 대부분 작동 할 것입니다. 사용 가능한 프로파일은 일반적으로 장치 매뉴얼 어딘가에 리스트되어 있습니다.</p>
<p>기술 메시지 지원이 모두다 구현되지 않았습니다.</p>
<h2>
<a class="title-link" name="" href="#"></a> 허브</h2>
<p>EnOcean 컨트롤러를 Home Assistant와 연동하려면 <code>configuration.yaml</code> 파일에 다음 섹션을 추가하십시오.</p>
<pre><code class="language-yaml"># Example configuration.yaml entry
enocean:
  device: /dev/ttyUSB0
</code></pre>
<div class="config-vars">
  <h3>
<a class="title-link" name="configuration-variables" href="#configuration-variables"></a> Configuration Variables</h3>
  <dl class="">
<dt>
<a class="title-link" name="device" href="#device"></a> device</dt>
<dd><p class="desc"><span class="type">(<span class="string">string</span>)</span><span class="required">(Required)</span><span class="description"><p>장치가 Home Assistant 호스트에 연결된 포트.</p>
</span></p></dd>
</dl>
</div>
<h2>
<a class="title-link" name="binary-sensor" href="#binary-sensor"></a> Binary Sensor</h2>
<p>이는 일반적으로 배터리없는 벽면 스위치 중 하나 일 수 있습니다
다음 장치를 테스트하였습니다. :</p>
<ul>
<li>EnOcean PTM 215 모듈을 사용하는 Eltako FT55</li>
<li>EnOcean PTM210 DB 모듈을 사용하는 <a href="https://www.trio2sys.fr/index.php/fr/produits-enocean-sans-fil-sans-pile-interoperable/emetteur-sans-fils-sans-pile-interoperable-enocean" rel="external nofollow">TRIO2SYS Wall switches</a>
</li>
<li>Omnio WS-CH-102</li>
</ul>
<p>다음과 같은 <a href="https://www.enocean-alliance.org/what-is-enocean/specifications/" rel="external nofollow">EnOcean Equipment Profiles</a>이 지원됩니다. :</p>
<ul>
<li>F6-02-01 (Light and Blind Control - Application Style 2)</li>
<li>F6-02-02 (Light and Blind Control - Application Style 1)</li>
</ul>
<p>EnOcean 장치를 사용하려면 먼저 <a href="#hub">EnOcean hub</a>를 셋업한 다음 <code>configuration.yaml</code> 파일에 다음을 추가해야합니다.</p>
<pre><code class="language-yaml"># Example configuration.yaml entry
binary_sensor:
  - platform: enocean
    id: [0x01,0x90,0x84,0x3C]
</code></pre>
<div class="config-vars">
  <h3>
<a class="title-link" name="configuration-variables" href="#configuration-variables"></a> Configuration Variables</h3>
  <dl class="">
<dt>
<a class="title-link" name="id" href="#id"></a> id</dt>
<dd><p class="desc"><span class="type">(<span class="list">list</span>)</span><span class="required">(Required)</span><span class="description"><p>장치의 ID. 디머에 쓰여진 4 바이트 길이의 숫자.</p>
</span></p></dd>
<dt>
<a class="title-link" name="name" href="#name"></a> name</dt>
<dd>
<p class="desc"><span class="type">(<span class="string">string</span>)</span><span class="required">(Optional)</span><span class="description"><p>프런트 엔드의 스위치 식별자.</p>
</span></p>
<p class="default">
Default value: </p>
<p>EnOcean binary sensor</p>
</dd>
<dt>
<a class="title-link" name="device_class" href="#device_class"></a> device_class</dt>
<dd><p class="desc"><span class="type">(<span class="device_class"><a href="/docs/configuration/customizing-devices/#device-class">device_class</a></span>)</span><span class="required">(Optional)</span><span class="description"><p>프런트 엔드에 표시되는 장치 상태 및 아이콘을 변경하여 <a href="/integrations/binary_sensor/">class of the device</a>를 세팅합니다.</p>
</span></p></dd>
</dl>
</div>
<p>EnOcean 바이너리 센서는 상태가 없으며 ‘button_pressed’ 이벤트만 생성합니다. 이벤트 데이터에는 다음 필드가 있습니다.</p>
<ul>
<li>
<strong>id</strong>: The ID of the device (see configuration).</li>
<li>
<strong>pushed</strong>: <code>1</code> for a button press, <code>0</code> for a button release.</li>
<li>
<strong>which</strong>: Always <code>0</code> when using the single rocket.  <code>0</code> or <code>1</code> when using the dual rocket switch.</li>
<li>
<strong>onoff</strong>: <code>0</code> or <code>1</code> for either side of the rocket.</li>
</ul>
<h2>
<a class="title-link" name="-" href="#-"></a> 자동화 사례</h2>
<p>조명을 켜고 끄는 자동화 사례 :</p>
<pre><code class="language-yaml"># Example automation to turn lights on/off on button release
automation:
  - alias: hall light switches
    trigger:
      platform: event
      event_type: button_pressed
      event_data:
        id: [0xYY, 0xYY, 0xYY, 0xYY]
        pushed: 0
    action:
      service_template: "{% if trigger.event.data.onoff %} light.turn_on {% else %} light.turn_off {%endif %}"
      data_template:
        entity_id: "{% if trigger.event.data.which == 1 %} light.hall_left {% else %} light.hall_right {%endif %}"
</code></pre>
<h2>
<a class="title-link" name="light" href="#light"></a> Light</h2>
<p>EnOcean 조명은 여러 형태를 취할 수 있습니다. 현재 한 가지 유형만 테스트되었습니다 : Eltako FUD61 디머.</p>
<p>EnOcean 장치를 사용하려면 먼저 <a href="#hub">EnOcean hub</a>를 셋업한 다음 <code>configuration.yaml</code> 파일에 다음을 추가해야합니다.</p>
<pre><code class="language-yaml"># Example configuration.yaml entry
light:
  - platform: enocean
    id: [0x01,0x90,0x84,0x3C]
    sender_id: [0xFF,0xC6,0xEA,0x04]
</code></pre>
<div class="config-vars">
  <h3>
<a class="title-link" name="configuration-variables" href="#configuration-variables"></a> Configuration Variables</h3>
  <dl class="">
<dt>
<a class="title-link" name="id" href="#id"></a> id</dt>
<dd><p class="desc"><span class="type">(<span class="list">list</span>)</span><span class="required">(Required)</span><span class="description"><p>장치의 ID. 디머에 쓰여진 4 바이트 길이의 숫자.</p>
</span></p></dd>
<dt>
<a class="title-link" name="sender_id" href="#sender_id"></a> sender_id</dt>
<dd><p class="desc"><span class="type">(<span class="list">list</span>)</span><span class="required">(Required)</span><span class="description"><p>장치의 발신자 ID. 이것은 4 바이트 길이.</p>
</span></p></dd>
<dt>
<a class="title-link" name="name" href="#name"></a> name</dt>
<dd>
<p class="desc"><span class="type">(<span class="string">string</span>)</span><span class="required">(Optional)</span><span class="description"><p>프런트 엔드에서 Light의 식별자.</p>
</span></p>
<p class="default">
Default value: </p>
<p>EnOcean Light</p>
</dd>
</dl>
</div>
<h2>
<a class="title-link" name="sensor" href="#sensor"></a> Sensor</h2>
<p>EnOcean 센서 플랫폼은 현재 다음 장치 유형을 지원합니다.</p>
<ul>
<li><a href="#power-sensor">power sensor</a></li>
<li><a href="#humidity-sensor">humidity sensor</a></li>
<li><a href="#temperature-sensor">temperature sensor</a></li>
<li><a href="#window-handle">window handle</a></li>
</ul>
<p>EnOcean 장치를 사용하려면 먼저 <a href="#hub">EnOcean hub</a>를 셋업한 다음 <code>configuration.yaml</code> 파일에 다음을 추가해야합니다.</p>
<pre><code class="language-yaml"># Example configuration.yaml entry
sensor:
  - name: Television
    platform: enocean
    id: [0x01,0x90,0x84,0x3C]
</code></pre>
<div class="config-vars">
  <h3>
<a class="title-link" name="configuration-variables" href="#configuration-variables"></a> Configuration Variables</h3>
  <dl class="">
<dt>
<a class="title-link" name="id" href="#id"></a> id</dt>
<dd><p class="desc"><span class="type">(<span class="list">list</span>)</span><span class="required">(Required)</span><span class="description"><p>장치의 ID. 이것은 장치의 4 바이트 길이 식별자.</p>
</span></p></dd>
<dt>
<a class="title-link" name="name" href="#name"></a> name</dt>
<dd>
<p class="desc"><span class="type">(<span class="string">string</span>)</span><span class="required">(Optional)</span><span class="description"><p>프런트 엔드의 센서 식별자.</p>
</span></p>
<p class="default">
Default value: </p>
<p>EnOcean sensor</p>
</dd>
<dt>
<a class="title-link" name="device_class" href="#device_class"></a> device_class</dt>
<dd>
<p class="desc"><span class="type">(<span class="device_class"><a href="/docs/configuration/customizing-devices/#device-class">device_class</a></span>)</span><span class="required">(Optional)</span><span class="description"><p>프런트 엔드에 표시되는 장치 상태 및 아이콘을 변경하여 <a href="/integrations/binary_sensor/">class of the device</a> 를 세팅합니다.</p>
</span></p>
<p class="default">
Default value: </p>
<p>powersensor</p>
</dd>
</dl>
</div>
<h3>
<a class="title-link" name="power-sensor" href="#power-sensor"></a> Power sensor</h3>
<p>이는 Permundo PSC234 스위치로 테스트되었지만 EEP <strong>A5-12-01</strong> 메시지를 보내는 모든 장치는 작동합니다.</p>
<p><code>configuration.yaml</code> 파일에 다음을 추가하십시오 :</p>
<pre><code class="language-yaml"># Example configuration.yaml entry
sensor:
  - name: Television
    platform: enocean
    id: [0x01,0x90,0x84,0x3C]
    device_class: powersensor
</code></pre>
<h3>
<a class="title-link" name="humidity-sensor" href="#humidity-sensor"></a> Humidity sensor</h3>
<p>다음 <a href="https://www.enocean-alliance.org/what-is-enocean/specifications/" rel="external nofollow">EnOcean Equipment Profiles</a>이 지원됩니다.</p>
<ul>
<li>Any profile that contains the humidity value at position <strong>DB2.7</strong> to <strong>DB2.0</strong>
</li>
<li>
<strong>A5-04-01</strong> - Temp. and Humidity Sensor, Range 0°C to +40°C and 0% to 100%</li>
<li>
<strong>A5-04-02</strong> - Temp. and Humidity Sensor, Range -20°C to +60°C and 0% to 100%</li>
<li>
<strong>A5-10-10</strong> to <strong>A5-10-14</strong> - Room Operating Panels</li>
</ul>
<p><code>configuration.yaml</code> 파일에 다음을 추가하십시오 :</p>
<pre><code class="language-yaml"># Example configuration.yaml entry
sensor:
  - name: Bathroom
    platform: enocean
    id: [0x01,0x90,0x84,0x3C]
    device_class: humidity
</code></pre>
<h3>
<a class="title-link" name="temperature-sensor" href="#temperature-sensor"></a> Temperature sensor</h3>
<p>이 센서는 대부분의 실내 온도 센서 장치에 사용되는 일반 STM-330 센서로 테스트되었습니다.</p>
<p>다음 <a href="https://www.enocean-alliance.org/what-is-enocean/specifications/" rel="external nofollow">EnOcean Equipment Profiles</a>이 지원됩니다.</p>
<ul>
<li>Any profile that contains an 8-bit temperature at position DB1.7 to DB1.0. 10-bit is not supported.</li>
<li>
<strong>A5-02-01</strong> to <strong>A5-02-1B</strong> - Temperature Sensor with various temperature ranges</li>
<li>
<strong>A5-10-01</strong> to <strong>A5-10-14</strong> - Room Operating Panels</li>
<li>
<strong>A5-04-01</strong> - Temp. and Humidity Sensor, Range 0°C to +40°C and 0% to 100%</li>
<li>
<strong>A5-04-02</strong> - Temp. and Humidity Sensor, Range -20°C to +60°C and 0% to 100%</li>
<li>
<strong>A5-10-10</strong> - Temp. and Humidity Sensor and Set Point</li>
<li>
<strong>A5-10-12</strong> - Temp. and Humidity Sensor, Set Point and Occupancy Control</li>
</ul>
<p>사용하는 EEP를 확인하려면 온도 센서 설명서를 확인하십시오.
모르는 경우, 경험을 토대로 추측을 하고 보고된 값을 확인하십시오. 범위의 경계에서 온도를 확인하는 것이 가장 쉬운 방법이므로 센서를 냉장고에 잠시 동안 두십시오.</p>
<p><code>configuration.yaml</code> 파일에 다음을 추가하십시오 :</p>
<pre><code class="language-yaml"># Example configuration.yaml entry
sensor:
  - name: Living Room
    platform: enocean
    id: [0x01,0x90,0x84,0x3C]
    device_class: temperature
</code></pre>
<p>온도 센서는 이러한 추가 설정 속성을 지원합니다.</p>
<div class="config-vars">
  <h3>
<a class="title-link" name="configuration-variables" href="#configuration-variables"></a> Configuration Variables</h3>
  <dl class="">
<dt>
<a class="title-link" name="min_temp" href="#min_temp"></a> min_temp</dt>
<dd>
<p class="desc"><span class="type">(<span class="integer">integer</span>)</span><span class="required">(Optional)</span><span class="description"><p>센서가 지원하는 최소 온도 (° C)</p>
</span></p>
<p class="default">
Default value: </p>
<p>0</p>
</dd>
<dt>
<a class="title-link" name="max_temp" href="#max_temp"></a> max_temp</dt>
<dd>
<p class="desc"><span class="type">(<span class="integer">integer</span>)</span><span class="required">(Optional)</span><span class="description"><p>센서가 지원하는 최대 온도 (° C)</p>
</span></p>
<p class="default">
Default value: </p>
<p>40</p>
</dd>
<dt>
<a class="title-link" name="range_from" href="#range_from"></a> range_from</dt>
<dd>
<p class="desc"><span class="type">(<span class="integer">integer</span>)</span><span class="required">(Optional)</span><span class="description"><p>센서가 <code>min_temp</code>에 대해 보고하는 범위 값</p>
</span></p>
<p class="default">
Default value: </p>
<p>255</p>
</dd>
<dt>
<a class="title-link" name="range_to" href="#range_to"></a> range_to</dt>
<dd>
<p class="desc"><span class="type">(<span class="integer">integer</span>)</span><span class="required">(Optional)</span><span class="description"><p>센서가 <code>max_temp</code>에 대해 보고하는 범위 값</p>
</span></p>
<p class="default">
Default value: </p>
<p>0</p>
</dd>
</dl>
</div>
<p><em>range_from</em> 및 <em>range_to</em> 의 기본 설정값은 오타가 아니며 범위는 대부분의 센서에서 거꾸로입니다.
그러나 일부 EEP의 반전 범위는 0에서 250 사이입니다. 여기에는 다음 EEP가 포함됩니다.</p>
<ul>
<li><strong>A5-04-01</strong></li>
<li><strong>A5-04-02</strong></li>
<li>
<strong>A5-10-10</strong> to <strong>A5-10-14</strong>
</li>
</ul>
<p>해당 센서에 <code>configuration.yaml</code>을 적용하십시오:</p>
<pre><code class="language-yaml"># Example configuration.yaml entry for EEP A5-10-10
sensor:
  - name: Living Room
    platform: enocean
    id: [0x01,0x90,0x84,0x3C]
    device_class: temperature
    range_from: 0
    range_to: 250
</code></pre>
<h3>
<a class="title-link" name="window-handle" href="#window-handle"></a> Window handle</h3>
<p>현재 Somfy의 Hoppe SecuSignal Window handle이 성공적으로 테스트되었습니다. 한편 EnOcean RPS telegram spec F6 10 00 (Hoppe AG)을 따르는 모든 기계식 Window handle은 지원됩니다.</p>
<p>Window handle을 설정하려면 <code>configuration.yaml</code>에 다음 코드를 추가하십시오</p>
<pre><code class="language-yaml"># Example configuration.yaml entry for window handle EEP F6-10-00
sensor:
  - name: Living Room Window Handle
    platform: enocean
    id: [0xDE,0xAD,0xBE,0xEF]
    device_class: windowhandle
</code></pre>
<p>설정에 선택적 매개 변수가 없습니다.</p>
<p>Window handle 센서는 다음 상태를 가질 수 있습니다.</p>
<ul>
<li>
<strong>closed</strong>: The window handle is in closed position (typically down, or 6 o’clock)</li>
<li>
<strong>open</strong>: The window handle is in open position (typically left or right, or 3 o’clock or 9 o’clock)</li>
<li>
<strong>tilt</strong>: The window handle is in tilt position (typically up or 12 o’clock)</li>
</ul>
<h2>
<a class="title-link" name="switch" href="#switch"></a> Switch</h2>
<p>EnOcean 스위치는 여러 형태를 취할 수 있습니다. 현재 Permundo PSC234 및 Nod On SIN-2-1-01 유형만 테스트되었습니다.</p>
<p>EnOcean 장치를 사용하려면 먼저 <a href="#hub">EnOcean hub</a>를 셋업한 다음 <code>configuration.yaml</code> 파일에 다음을 추가해야합니다.</p>
<pre><code class="language-yaml"># Example configuration.yaml entry
switch:
  - platform: enocean
    id: [0x01,0x90,0x84,0x3C]
</code></pre>
<div class="config-vars">
  <h3>
<a class="title-link" name="configuration-variables" href="#configuration-variables"></a> Configuration Variables</h3>
  <dl class="">
<dt>
<a class="title-link" name="id" href="#id"></a> id</dt>
<dd><p class="desc"><span class="type">(<span class="list">list</span>)</span><span class="required">(Required)</span><span class="description"><p>장치의 ID. 이는 4 바이트 길이.</p>
</span></p></dd>
<dt>
<a class="title-link" name="name" href="#name"></a> name</dt>
<dd>
<p class="desc"><span class="type">(<span class="string">string</span>)</span><span class="required">(Optional)</span><span class="description"><p>스위치의 식별자</p>
</span></p>
<p class="default">
Default value: </p>
<p>EnOcean Switch</p>
</dd>
<dt>
<a class="title-link" name="channel" href="#channel"></a> channel</dt>
<dd>
<p class="desc"><span class="type">(<span class="integer">integer</span>)</span><span class="required">(Optional)</span><span class="description"><p>출력 채널을 전환할 채널 번호. (일반적으로 0 또는 1)입니다.</p>
</span></p>
<p class="default">
Default value: </p>
<p>0</p>
</dd>
</dl>
</div>
<pre><code class="language-yaml"># Example entries for a switch with 2 outputs (channels), e.g., the Nod On SIN-2-1-01
switch nodon01_0:
  - platform: enocean
    id: [0x05,0x04,0x03,0x02]
    name: enocean_nodon01_0
    channel: 0

switch nodon01_1:
  - platform: enocean
    id: [0x05,0x04,0x03,0x02]
    name: enocean_nodon01_1
    channel: 1
</code></pre>


</article>

          
        </div>

        
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
  
  
    <section class="aside-module grid__item one-whole lap-one-half">

<div class='edit-github'><a href='https://github.com/hakorea/gitpages_source/blob/master/source/_integrations/enocean.markdown'>깃허브 편집</a></div>

<div class='brand-logo-container section'><img src='/images/supported_brands/enocean.png' /></div><div class="section">
    <kb-alert-link integration="enocean"></kb-alert-link>
  </div><div class='section'>
      IoT class<sup><a href='/blog/2016/02/12/classifying-the-internet-of-things/#classifiers'><i class="icon-info-sign"></i></a></sup>: Local Push
    </div><div class='section'>
      Introduced in release: 0.21
    </div><div class='section'>
    Source: <a href='https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/enocean/'>/components/enocean/</a>
  </div><div class='section'>
    <h1 class="title delta">카테고리</h1>
    <ul class='divided'><li>
        <a href='/integrations/#hub'>Hub</a>
      </li><li>
        <a href='/integrations/#binary-sensor'>Binary Sensor</a>
      </li><li>
        <a href='/integrations/#sensor'>Sensor</a>
      </li><li>
        <a href='/integrations/#light'>Light</a>
      </li><li>
        <a href='/integrations/#switch'>Switch</a>
      </li></ul>
    </div></section>

<script src="https://alerts.home-assistant.io/ce-alert-link.js"></script>

  
</div>

        </aside>
        
      </div>
    </div>

    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright grid">
        <div class='company grid__item one-third lap-one-half palm-one-whole'>
          <div class="title">
            <img src="/images/home-assistant-logo.png" width="36" height="36" alt="Home Assistant"> 홈어시스턴트
          </div>
        </div>

        <div class='grid__item one-third lap-one-half palm-one-whole'>
          <ul>
            <li><a href='https://alerts.home-assistant.io'>Home Assistant Alerts</a></li>
            <li><a href='https://cafe.naver.com/koreassistant'>HA 네이버 카페</a></li>
          </ul>
        </div>

        <div class='grid__item one-third lap-one-half palm-one-whole'>
          이 웹사이트는 <a href='https://jekyllrb.com/'>Jekyll</a>과
          <a href='https://github.com/coogie/oscailte'>Oscalite 테마</a>를 사용합니다.
        </div>
      </div>
    </div>
  </div>
</div>

    </footer>

    <script>
var _gaq=[['_setAccount',''],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<script src="/javascripts/prism.js?5d6619066a1fc5cd819a93c132b539ac" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'c762b5632da4220f398f985614f3a1e3',
  indexName: 'hakorea',
  inputSelector: '#search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
document.querySelector('.search .close').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'none';
});
document.querySelector('.show-search').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'block';
  document.getElementById('toggle').checked = false;
  document.querySelector('.search-container input').focus();
});
</script>

  </body>
</html>
