<!doctype html>
  <!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Template Binary Sensor - 홈어시스턴트</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions on how to integrate Template Binary Sensors into Home Assistant.">
    
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://hakorea.github.io/integrations/binary_sensor.template/">

    <meta property="fb:app_id" content="">
    <meta property="og:title" content="Template Binary Sensor">
    <meta property="og:site_name" content="홈어시스턴트">
    <meta property="og:url" content="https://hakorea.github.io/integrations/binary_sensor.template/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions on how to integrate Template Binary Sensors into Home Assistant.">
    <meta property="og:image" content="https://hakorea.github.io/images/default-social.png">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@">
    
    <meta name="twitter:title" content="Template Binary Sensor">
    <meta name="twitter:description" content="Instructions on how to integrate Template Binary Sensors into Home Assistant.">
    <meta name="twitter:image" content="https://hakorea.github.io/images/default-social.png">

    <link href="/stylesheets/prism.css?8acb84bc0387c9548a63998fcfea0139" rel="stylesheet">
    <link href="/stylesheets/screen.css?0a23d70030bf362ca935e76ccc50922c" media="screen, projection, print" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="홈어시스턴트" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>

  <body >

    <header class='site-header'>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
      <a href="/" class="site-title">
        <img src="/images/home-assistant-logo.png" width="36" height="36" alt="Home Assistant">
        <span>홈어시스턴트</span>
      </a>
    </div>

    <div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
      <nav>
        <input type="checkbox" id="toggle">
        <label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
        <ul class="menu pull-right">
            
            <li><a href="/getting-started/">시작하기</a></li>
            <li><a href="/integrations/">통합구성요소</a></li>
            <li><a href="/docs/">문서</a></li>
            <li><a href="/cookbook/">예제</a></li>
            <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
            <li>KOREAN(not official)</li>
        </ul>
      </nav>

      <div class='search-container' style='display: none'>
        <div class='search'>
          <i class="icon-search"></i>
          <input id='search' placeholder='Search the docs…'>
          <a href='#' class='close'><i class="icon-remove-sign"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

    </header>

    

    <div class="grid-wrapper">
      <div class="grid grid-center">
        
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
        

          
            <article class="page">
  
  
    

<div class="edit-github"><a href="https://github.com/hakorea/gitpages_source/blob/master/source/_integrations/binary_sensor.template.markdown" rel="external nofollow">깃허브 편집</a></div>


  

  
  <header>
    <h1 class="title indent">
      Template Binary Sensor
    </h1>
  </header>
  <hr class="divider">
  

  <p><code>template</code> 플랫폼은 다른 엔터티에서 값을 얻는 binary sensors를 지원합니다. 템플릿 바이너리 센서(Template Binary Sensor)의 상태는 ‘켜기’ 또는 ‘끄기’만 될 수 있습니다.</p>
<h2>
<a class="title-link" name="" href="#"></a> 설정</h2>
<p>다음은 템플릿 바이너리 센서를 <code>configuration.yaml</code> 파일 에 추가하는 예입니다.</p>
<pre><code class="language-yaml"># Example configuration.yaml entry
binary_sensor:
  - platform: template
    sensors:
      sun_up:
        friendly_name: "Sun is up"
        value_template: &gt;-
          {{ state_attr('sun.sun', 'elevation')|float &gt; 0 }}
</code></pre>
<div class="config-vars">
  <h3>
<a class="title-link" name="configuration-variables" href="#configuration-variables"></a> Configuration Variables</h3>
  <dl class="">
<dt>
<a class="title-link" name="sensors" href="#sensors"></a> sensors</dt>
<dd><p class="desc"><span class="type">(<span class="map">map</span>)</span><span class="required">(Required)</span><span class="description"><p>센서 리스트.</p>
</span></p></dd>
<dd><dl class="nested">
<dt>
<a class="title-link" name="sensor_name" href="#sensor_name"></a> sensor_name</dt>
<dd><p class="desc"><span class="type">(<span class="map">map</span>)</span><span class="required">(Required)</span><span class="description"><p>센서의 슬러그(slug).</p>
</span></p></dd>
<dd><dl class="nested">
<dt>
<a class="title-link" name="friendly_name" href="#friendly_name"></a> friendly_name</dt>
<dd><p class="desc"><span class="type">(<span class="string">string</span>)</span><span class="required">(Optional)</span><span class="description"><p>프론트 엔드에서 사용할 이름.</p>
</span></p></dd>
<dt>
<a class="title-link" name="entity_id" href="#entity_id"></a> entity_id</dt>
<dd><p class="desc"><span class="type">(<span class="string list">string | list</span>)</span><span class="required">(Optional)</span><span class="description"><p>센서가 이러한 엔티티의 상태 변경에만 반응하도록 엔티티 ID 목록. 자동 분석에서 모든 관련 엔티티를 찾지 못하면 사용할 수 있습니다.</p>
</span></p></dd>
<dt>
<a class="title-link" name="device_class" href="#device_class"></a> device_class</dt>
<dd>
<p class="desc"><span class="type">(<span class="device_class"><a href="/docs/configuration/customizing-devices/#device-class">device_class</a></span>)</span><span class="required">(Optional)</span><span class="description"><p>프런트 엔드에 표시되는 장치 상태 및 아이콘을 변경하여 <a href="/integrations/binary_sensor/">class of the device</a>를 설정합니다.</p>
</span></p>
<p class="default">
Default value: </p>
<p>None</p>
</dd>
<dt>
<a class="title-link" name="value_template" href="#value_template"></a> value_template</dt>
<dd><p class="desc"><span class="type">(<span class="template"><a href="/docs/configuration/templating/">template</a></span>)</span><span class="required">(Required)</span><span class="description"><p>템플릿이 <code>True</code> 로 평가되면 센서가 <code>on</code>이고, 그렇지 않으면 <code>off</code>입니다. 프런트 엔드의 실제 모양 (<code>Open</code>/<code>Closed</code>,<code>Detected</code>/<code>Clear</code> 등)은 센서의 device_class에 따라 다릅니다.</p>
</span></p></dd>
<dt>
<a class="title-link" name="availability_template" href="#availability_template"></a> availability_template</dt>
<dd>
<p class="desc"><span class="type">(<span class="template"><a href="/docs/configuration/templating/">template</a></span>)</span><span class="required">(Optional)</span><span class="description"><p>컴포넌트의 <code>available</code> 상태를 가져 오도록 템플리트를 정의합니다. 템플릿이 <code>true</code>를 반환하면 장치는 <code>available</code> 입니다. 템플릿이 다른 값을 반환하면 장치는 <code>unavailable</code>입니다. <code>availability_template</code>이 설정되어 있지 않으면 컴포넌트를 항상 사용할 수 있습니다`</p>
</span></p>
<p class="default">
Default value: </p>
<p>true</p>
</dd>
<dt>
<a class="title-link" name="icon_template" href="#icon_template"></a> icon_template</dt>
<dd><p class="desc"><span class="type">(<span class="template"><a href="/docs/configuration/templating/">template</a></span>)</span><span class="required">(Optional)</span><span class="description"><p>센서 아이콘의 템플릿을 정의.</p>
</span></p></dd>
<dt>
<a class="title-link" name="entity_picture_template" href="#entity_picture_template"></a> entity_picture_template</dt>
<dd><p class="desc"><span class="type">(<span class="template"><a href="/docs/configuration/templating/">template</a></span>)</span><span class="required">(Optional)</span><span class="description"><p>센서의 엔티티 이미지에 대한 템플릿을 정의.</p>
</span></p></dd>
<dt>
<a class="title-link" name="attribute_templates" href="#attribute_templates"></a> attribute_templates</dt>
<dd><p class="desc"><span class="type">(<span class="map">map</span>)</span><span class="required">(Optional)</span><span class="description"><p>센서 속성에 대한 템플릿을 정의.</p>
</span></p></dd>
<dd><dl class="nested">
<dt>
<a class="title-link" name="attribute-template" href="#attribute-template"></a> attribute: template</dt>
<dd><p class="desc"><span class="type">(<span class="template"><a href="/docs/configuration/templating/">template</a></span>)</span><span class="required">(Required)</span><span class="description"><p>속성과 해당 템플릿.</p>
</span></p></dd>
</dl></dd>
<dt>
<a class="title-link" name="delay_on" href="#delay_on"></a> delay_on</dt>
<dd><p class="desc"><span class="type">(<span class="time">time</span>)</span><span class="required">(Optional)</span><span class="description"><p>이 센서가 <code>on</code>으로 전환되기 전에 템플릿 상태가 <em><strong>충족되어야</strong></em> 합니다.</p>
</span></p></dd>
<dt>
<a class="title-link" name="delay_off" href="#delay_off"></a> delay_off</dt>
<dd><p class="desc"><span class="type">(<span class="time">time</span>)</span><span class="required">(Optional)</span><span class="description"><p>이 센서가 <code>off</code>로 전환되기 전에 템플릿 상태가 <em><strong>충족되지않아야</strong></em> 합니다.</p>
</span></p></dd>
</dl></dd>
</dl></dd>
</dl>
</div>
<h2>
<a class="title-link" name="" href="#"></a> 고려사항</h2>
<h3>
<a class="title-link" name="startup" href="#startup"></a> Startup</h3>
<p>로드하는데 시간이 더 걸리는 플랫폼의 상태를 사용하는 경우 시작시 템플릿 바이너리 센서가 <code>unknown</code> 상태가 될 수 있습니다. 그러면 해당 플랫폼이로드를 완료 할 때까지 로그 파일에 오류 메시지가 나타납니다.
템플릿에서 <code>is_state ()</code>함수를 사용하면 이런 상황을 피할 수 있습니다.
예를 들어, <code>{{ states.switch.source.state == 'on' }}</code>가 <code>true</code> /<code>false</code>를 반환하고 알 수 없는 결과 값을 절대 반환하지 않게 하는 것으로 대체합니다 : <code>{{ is_state('switch.source', 'on') }}</code></p>
<h3>
<a class="title-link" name="entity-ids" href="#entity-ids"></a> Entity IDs</h3>
<p>템플릿 엔진은 센서 업데이트를 트리거 할 엔티티를 처리하려고 시도합니다. 예를 들어 템플릿이 그룹의 내용을 반복하는 경우 실패 할 수 있습니다. 이 경우<code>entity_id</code>를 사용하여 센서가 업데이트되도록 하는 엔티티 ID 목록 또는 서비스 <code>homeassistant.update_entity</code>를 실행하여 원하는대로 센서를 업데이트 할 수 있습니다.</p>
<h2>
<a class="title-link" name="" href="#"></a> 사례</h2>
<p>이 섹션에는 이 센서를 사용하는 방법에 대한 실제 예가 나와 있습니다.</p>
<h3>
<a class="title-link" name="--sensor-threshold" href="#--sensor-threshold"></a> 센서 임계값 (Sensor Threshold)</h3>
<p>이 예는 센서가 지정된 임계 값을 초과하면 <code>true</code>를 나타냅니다. 팬 모터에 전류 판독 값을 제공하는 <code>furnace</code> 센서를 가정하면 furnace(난방용기계)가 일부 임계값을 초과하는지 확인하여 furnace(난방용기계)가 실행 중인지 확인할 수 있습니다.</p>
<pre><code class="language-yaml">binary_sensor:
  - platform: template
    sensors:
      furnace_on:
        friendly_name: "Furnace Running"
        device_class: heat
        value_template: "{{ states('sensor.furnace')|float &gt; 2.5 }}"
</code></pre>
<h3>
<a class="title-link" name="--switch-as-sensor" href="#--switch-as-sensor"></a> 센서 스위치 (Switch as Sensor)</h3>
<p>일부 이동 센서 및 도어/창 센서가 스위치로 나타납니다. 템플릿 바이너리 센서를 사용하면 스위치를 바이너리 센서로 표시할 수 있습니다. 그런 다음 <a href="/getting-started/customizing-devices/">customizing</a>으로 원래 스위치를 숨길 수 있습니다.</p>
<pre><code class="language-yaml">binary_sensor:
  - platform: template
    sensors:
      movement:
        device_class: motion
        value_template: "{{ is_state('switch.movement', 'on') }}"
      door:
        device_class: opening
        value_template: "{{ is_state('switch.door', 'on') }}"
</code></pre>
<h3>
<a class="title-link" name="---combining-multiple-sensors" href="#---combining-multiple-sensors"></a> 여러 센서 결합 (Combining Multiple Sensors)</h3>
<p>이 예는 여러 CO 센서를 단일 전체 상태로 결합합니다. binary sensors 템플릿을 사용하는 경우 명시 적으로 <code>true</code> 또는<code>false</code>를 반환해야합니다.</p>
<pre><code class="language-yaml">binary_sensor:
  - platform: template
    sensors:
      co:
        friendly_name: "CO"
        device_class: gas
        value_template: &gt;-
          {{ is_state('sensor.bedroom_co_status', 'Ok')
             and is_state('sensor.kitchen_co_status', 'Ok')
             and is_state('sensor.wardrobe_co_status', 'Ok') }}
</code></pre>
<h3>
<a class="title-link" name="--washing-machine-running" href="#--washing-machine-running"></a> 세탁기 실행 (Washing Machine Running)</h3>
<p>이 예에서는 세탁기에 연결된 에너지 미터를 모니터링하여 세탁기 “load running” 센서를 만듭니다. 세탁기가 작동하는 동안 에너지 미터가 급격히 변동하여 부하가 완료되기 전에도 자주 0을 기록합니다. <code>delay_off</code>를 사용하여 5 분 동안 세탁기 작동이 없는 경우에만 이 센서를 끌 수 있습니다.</p>
<pre><code class="language-yaml"># Determine when the washing machine has a load running.
binary_sensor:
  - platform: template
    sensors:
      washing_machine:
        friendly_name: "Washing Machine"
        delay_off:
          minutes: 5
        value_template: &gt;-
          {{ states('sensor.washing_machine_power')|float &gt; 0 }}
</code></pre>
<h3>
<a class="title-link" name="--is-anyone-home" href="#--is-anyone-home"></a> 재실 확인 (Is Anyone Home)</h3>
<p>이 예는 장치 추적 및 모션 센서의 조합을 기반으로 집에 사람이 있는지 확인하는 것입니다. 홈어시스턴트에서 추적 가능한 장치로 표시되지 않는 집에 있을 수 있는 어린이/베이비 시터/할머니할아버지가 있는 경우 매우 유용합니다. 이것은 WiFi 기반 장치 추적 및 Z-Wave 센서와의 다중 재실 센서의 합성(composite)을 제공합니다.</p>
<pre><code class="language-yaml">binary_sensor:
  - platform: template
    sensors:
      people_home:
        value_template: &gt;-
          {{ is_state('device_tracker.sean', 'home')
             or is_state('device_tracker.susan', 'home')
             or is_state('binary_sensor.office_124', 'on')
             or is_state('binary_sensor.hallway_134', 'on')
             or is_state('binary_sensor.living_room_139', 'on')
             or is_state('binary_sensor.porch_ms6_1_129', 'on')
             or is_state('binary_sensor.family_room_144', 'on') }}
</code></pre>
<h3>
<a class="title-link" name="------" href="#------"></a> 위도 및 경도 속성이있는 장치 추적 센서</h3>
<p>이 예는 위도 및 경도 속성을 계속 포함하면서 non-GPS (예 : NMAP) 및 GPS 장치 추적기를 결합(composite)하는 방법을 보여줍니다.</p>
<pre><code class="language-yaml">binary_sensor:
  - platform: template
    sensors:
      my_device:
        value_template: &gt;-
          {{ is_state('device_tracker.my_device_nmap','home') or is_state('device_tracker.my_device_gps','home') }}
        device_class: 'presence'
        attribute_templates:
          latitude: &gt;-
            {% if is_state('device_tracker.my_device_nmap','home') %}
              {{ state_attr('zone.home','latitude') }}
            {% else %}
              {{ state_attr('device_tracker.my_device_gps','latitude') }}
            {% endif %}
          longitude: &gt;-
            {% if is_state('device_tracker.my_device_nmap','home') %}
              {{ state_attr('zone.home','longitude') }}
            {% else %}
              {{ state_attr('device_tracker.my_device_gps','longitude') }}
            {% endif %}
</code></pre>
<h3>
<a class="title-link" name="---" href="#---"></a> 상태가 변경시 아이콘 변경</h3>
<p>이 예제는 <code>icon_template</code>을 사용하여 상태 변화에 따라 엔티티 아이콘을 변경하고 자체 센서의 상태를 평가하고 조건문을 사용하여 적절한 아이콘을 출력하는 방법을 보여줍니다.</p>
<pre><code class="language-yaml">sun:
binary_sensor:
  - platform: template
    sensors:
      sun_up:
        entity_id:
          - sun.sun
        value_template: &gt;-
          {{ is_state("sun.sun", "above_horizon") }}
        icon_template: &gt;-
          {% if is_state("binary_sensor.sun_up", "on") %}
            mdi:weather-sunset-up
          {% else %}
            mdi:weather-sunset-down
          {% endif %}
</code></pre>


</article>

          
        </div>

        
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
  
  
    <section class="aside-module grid__item one-whole lap-one-half">

<div class='edit-github'><a href='https://github.com/hakorea/gitpages_source/blob/master/source/_integrations/binary_sensor.template.markdown'>깃허브 편집</a></div>

<div class='brand-logo-container section'><img src='/images/supported_brands/home-assistant.png' /></div><div class="section">
    <kb-alert-link integration="template"></kb-alert-link>
  </div><div class='section'>
      IoT class<sup><a href='/blog/2016/02/12/classifying-the-internet-of-things/#classifiers'><i class="icon-info-sign"></i></a></sup>: Local Push
    </div><div class='section'>
      Quality Scale: <a href='/docs/quality_scale/'>🏠 (internal)</a>
    </div><div class='section'>
      Introduced in release: 0.12
    </div><div class='section'>
    Source: <a href='https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/template/'>/components/template/</a>
  </div><div class='section'>
    <h1 class="title delta">카테고리</h1>
    <ul class='divided'><li>
        <a href='/integrations/#binary-sensor'>Binary Sensor</a>
      </li></ul>
    </div></section>

<script src="https://alerts.home-assistant.io/ce-alert-link.js"></script>

  
</div>

        </aside>
        
      </div>
    </div>

    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright grid">
        <div class='company grid__item one-third lap-one-half palm-one-whole'>
          <div class="title">
            <img src="/images/home-assistant-logo.png" width="36" height="36" alt="Home Assistant"> 홈어시스턴트
          </div>
        </div>

        <div class='grid__item one-third lap-one-half palm-one-whole'>
          <ul>
            <li><a href='https://alerts.home-assistant.io'>Home Assistant Alerts</a></li>
            <li><a href='https://cafe.naver.com/koreassistant'>HA 네이버 카페</a></li>
          </ul>
        </div>

        <div class='grid__item one-third lap-one-half palm-one-whole'>
          이 웹사이트는 <a href='https://jekyllrb.com/'>Jekyll</a>과
          <a href='https://github.com/coogie/oscailte'>Oscalite 테마</a>를 사용합니다.
        </div>
      </div>
    </div>
  </div>
</div>

    </footer>

    <script>
var _gaq=[['_setAccount',''],['_trackPageview']];
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<script src="/javascripts/prism.js?5d6619066a1fc5cd819a93c132b539ac" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'c762b5632da4220f398f985614f3a1e3',
  indexName: 'hakorea',
  inputSelector: '#search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
document.querySelector('.search .close').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'none';
});
document.querySelector('.show-search').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'block';
  document.getElementById('toggle').checked = false;
  document.querySelector('.search-container input').focus();
});
</script>

  </body>
</html>
